# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python egg files
*.egg-info/
*.egg

# Log files
*.log

# IDE files
.vscode/
.idea/

# Test files
CHRLINE-Patch/

# Environment variables
.env
